<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="bookCard" class="row" >
  <div class="col-md-4" th:each="book :${allbooks}">
    <div class="card mb-3 shadow text-center">
      <img th:src="${book.imageUrl}" alt="Card Image" class="card-img-top">
      <div class="card-body">
        <h3 class="card-title" th:text="${book.title}"></h3>
        <p class="card-text" th:text="${#strings.substring(book.description,0,4)+'....'}"></p>
        <div class="d-flex justify-content-between align-items-center">
          <span th:text="${book.yearPublished}"></span>
          <a href="#" th:href="@{'/books/details?id='+ ${book.id}}" class="btn btn-info">Details</a>
          <span th:text="${book.price}"></span>


        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>