<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

          <table  th:fragment="authorTable" class="table table-striped">
            <thead class="thead-dark">
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Date Of Birth</th>
              <th>Zip Code</th>
              <th>Street Name</th>
              <th>Phone Number</th>
              <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="author : ${authors}" >
              <td th:text="${author.id}"></td>
              <td th:text="${author.name}"></td>
              <td th:text="${author.dateOfBirth}"></td>
              <td th:text="${author.address.zipCode}"></td>
              <td th:text="${author.address.streetName}"></td>
              <td th:text="${author.address.phoneNumber}"></td>
              <td th:text="${author.address.email}"></td>
            </tr>
            </tbody>

          </table>



</body>
</html>