<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="cartView">
    <div class="alert alert-success" role="alert" th:if="${cardItems.isEmpty()}">
        <h3>No Items In Cart</h3>
        <a th:href="@{/shop/show-all-books}" class="btn btn-outline-info">Containing Shopping</a>
    </div>
    <div th:if="${!cardItems.isEmpty()}">
        <form th:action="@{/customer/register}" method="post" th:object="${bookDto}">


        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${cardItems}">
                <td th:text="${item.id}"></td>
                <td th:text="${item.title}"></td>
                <td th:text="${item.price}"></td>
                <td>
                    <div class="row">
                        <div class="col-md-3">
                            <input type="number"  min="1" step="1" th:field="*{bookNumber}" class="form-control">
                        </div>
                    </div>

                </td>
                <td><a th:href="@{'/cart/delete/' +${item.id}}" class="btn btn-outline-danger">Delete</a></td>
            </tr>
            </tbody>


        </table>
        <div class="p-4">
            <a th:href="@{/cart/clear}" class="btn btn-outline-danger mr-3">Clear Cart</a>
            <a th:href="@{/shop/show-all-books}" class="btn btn-outline-info">Containing Shopping</a>
            <!-- <a href="#" class="btn btn-outline-primary">CheckOut</a>-->
        </div>
            <button  type="submit" class="btn btn-outline-info">CheckOut</button>
        </form>

    </div>
</div>



</body>
</html>