<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="headSection" id="head-section" class="d-flex justify-content-center align-items-center">
  <div id="header" class="container text-center ">
    <h3 class="display-4 mb-0 text-white">Chase Your Dream</h3>
    <h1 class="display-1 text-white">Creative and Teach Training</h1>

    <p class="d-none d-md-block">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, voluptatum.
  <button class="btn btn-primary">Learn More</button>
  </div>
</div>

</body>
</html>