<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<nav th:fragment="navi" class="navbar navbar-expand-md navbar-dark bg-dark text-light">
    <div class="container">
        <a href="#" class="navbar-brand">BookShelf</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNav">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="myNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="#" class="nav-link">HOME</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">FEATURES</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">BLOCK</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">CONTACT US</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">GALLERY</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">SHOP</a>
                </li>


            </ul>
            </div>
        </div>
    </div>

</nav>

</body>
</html>